@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for_box_for_item {
        height: 268px;
    }

    .product_content {
        gap: 39px 28px;
        display: flex;
        flex-wrap: wrap;
    }

    .catalog_product {
        gap: 39px 28px;
        display: flex;
        flex-wrap: wrap;
    }

    .catalog_button {
        padding-top: 32px;
    }

    .logo_footer {
        display: none;
    }

    /*корзина*/

    .basket {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;
        
        &_form {
            width: 376px;
            height: 556px;
        }
    }


}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .product_content {
        gap: 39px 28px;
        display: flex;
        flex-wrap: wrap;
    }

    .catalog_product {
        gap: 39px 28px;
        display: flex;
        flex-wrap: wrap;
    }

    .product_voda {
        width: 345px;

    }

    .product_ronald {
        width: 345px;
    }

    .product_vent {
        width: 345px;
    }


    .catalog_product {
        gap: 39px 28px;
        display: flex;
        flex-wrap: wrap;
    }

    .product_tatran {
        width: 345px;
    }

    .product_vilora {
        width: 345px;
    }

    .product_menu {
        width: 345px;
    }

    .product_askesta {
        width: 345px;
    }

    .product_norman {
        width: 345px;
    }

    .product_nastan {
        width: 345px;
    }

    .product_vent {
        width: 345px;
    }

    /* каталог */

    .product {
        &_1 {
            width: 345px;
        }

        &_2 {
            width: 345px;
        }
        
        &_3 {
            width: 345px;
        }
        
        &_4 {
            width: 345px;
        }
        
        &_5 {
            width: 345px;
        }
        
        &_6 {
            width: 345px;
        }
        
        &_7 {
            width: 345px;
        }
        
        &_8 {
            width: 345px;
        }
        
        &_9 {
            width: 345px;
        }
        
        &_10 {
            width: 345px;
        }
        
        &_11 {
            width: 345px;
        }
        
        &_12 {
            width: 345px;
        }
        
    }

    .catalog_button {
        padding-top: 32px;
    }

    /*корзина*/

    .basket {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 32px;

        &_form {
            width: 376px;
            height: 556px;
        }
    }

    .product_box {
        &_heading {
            font-size: 47px;
        }

        &_1 {
        display: flex;
        flex-direction: column;
        width: 345px;
        }

        &_2 {
            display: flex;
            flex-direction: column;
            width: 345px;
        }
        
        &_3 {
            display: flex;
            flex-direction: column;
            width: 345px;
        }
        
    }

}
